.body1 {
  padding: 0;
  margin: 0;
}

.parag1 {
  display: flex;
  justify-content: center;
  padding: 16px;
  color: black;
  font-size: 48px;
}
.btn-submit {
  color: white;
  background-color: rgb(0, 150, 100);
  border-radius: 12px;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  margin-left: auto;
}
.btn-submit:hover {
  background-color: rgb(1, 72, 1);
}
.label {
  align-items: flex-start;
  justify-content: center;
}
.areaDeTexto {
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
.times {
  padding: 20px;
}

body {
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 200, 255);
  margin: 0;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.footer {
  margin-top: 80px;
  align-items: center;
  text-align: center;
}
